In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.preprocessing import PolynomialFeatures 
from sklearn import metrics
from sklearn import preprocessing
%matplotlib inline

In [2]:
X= pd.read_csv('/home/neaf/code/ML_course/H1/dataset/data_X.csv')

In [3]:
# GRE score, TOFEL score, University rating, SOP, LOR, CGPA, Research as the input
input = ['GRE_score', 'TOFEL_score', 'University_rating', 'SOP', 'LOR ', 'CGPA', 'Research']
print(X.shape)
X[input][0:10]

(500, 8)

   GRE_score  TOFEL_score  University_rating  SOP  LOR   CGPA  Research
0        337          118                  4  4.5   4.5  9.65         1
1        324          107                  4  4.0   4.5  8.87         1
2        316          104                  3  3.0   3.5  8.00         1
3        322          110                  3  3.5   2.5  8.67         1
4        314          103                  2  2.0   3.0  8.21         0
5        330          115                  5  4.5   3.0  9.34         1
6        321          109                  3  3.0   4.0  8.20         1
7        308          101                  2  3.0   4.0  7.90         0
8        302          102                  1  2.0   1.5  8.00         0
9        323          108                  3  3.5   3.0  8.60         0